/*----------------------------------------------------------------------------------
 *	1. body, common classes, structure etc
 *---------------------------------------------------------------------------------- */
/* line 5, ../../app/assets/stylesheets/1-default.css.sass */
html {
  overflow-y: scroll;
}

/* line 8, ../../app/assets/stylesheets/1-default.css.sass */
body {
  background: #f0f2f6;
  color: #626262;
}

/* line 12, ../../app/assets/stylesheets/1-default.css.sass */
a, .widget li a:hover {
  color: #4b6ea9;
  text-decoration: none;
}

/* line 16, ../../app/assets/stylesheets/1-default.css.sass */
a:hover, .widget li a {
  color: black;
}

/* line 19, ../../app/assets/stylesheets/1-default.css.sass */
.outer {
  background: url(1-default/main_bg111.png) repeat-x left top;
}

/* structure ========================================= */
/* line 24, ../../app/assets/stylesheets/1-default.css.sass */
.header {
  background: white url(1-default/header_bg.png) repeat-x bottom;
}

/*-----------------------------------------------------------------------------------
 *	2. Header Styles
 *----------------------------------------------------------------------------------- */
/* line 31, ../../app/assets/stylesheets/1-default.css.sass */
.logo a {
  color: #334f8a;
  text-shadow: 2px 2px 2px white;
}
/* line 34, ../../app/assets/stylesheets/1-default.css.sass */
.logo a:hover {
  color: black;
}

/* line 37, ../../app/assets/stylesheets/1-default.css.sass */
.site-description {
  color: #7b7b7b;
}

/*-----------------------------------------------------------------------------------
 *	3. Navigation & Menus - Top Menu
 *----------------------------------------------------------------------------------- */
/* line 44, ../../app/assets/stylesheets/1-default.css.sass */
.header_right ul li {
  background: url(1-default/menu_seperator.png) no-repeat right;
}
/* line 46, ../../app/assets/stylesheets/1-default.css.sass */
.header_right ul li a {
  color: #819dcb;
  text-shadow: 1px 1px 1px white;
}
/* line 49, ../../app/assets/stylesheets/1-default.css.sass */
.header_right ul li a:hover {
  color: #4e6b9b;
}
/* line 51, ../../app/assets/stylesheets/1-default.css.sass */
.header_right ul li ul {
  background: #e7eefc;
}
/* line 53, ../../app/assets/stylesheets/1-default.css.sass */
.header_right ul li ul li a {
  background: #e7eefc;
  border-bottom: 1px solid white;
  border-right: 1px solid white;
}
/* line 57, ../../app/assets/stylesheets/1-default.css.sass */
.header_right ul li ul li a:hover {
  background: #d2def6;
}
/* line 59, ../../app/assets/stylesheets/1-default.css.sass */
.header_right ul li:hover {
  background: #e7eefc;
}
/* line 61, ../../app/assets/stylesheets/1-default.css.sass */
.header_right ul li:hover ul {
  background: #e7eefc;
}
/* line 63, ../../app/assets/stylesheets/1-default.css.sass */
.header_right ul li ul li ul {
  background: #e7eefc;
}
/* line 65, ../../app/assets/stylesheets/1-default.css.sass */
.header_right ul li ul li ul li ul {
  background: #e7eefc;
}
/* line 67, ../../app/assets/stylesheets/1-default.css.sass */
.header_right ul li.current_page_item a, .header_right ul li.current_page_parent a, .header_right ul li.current_page_ancestor a, .header_right ul li.current-header_right-item a, .header_right ul li.current_page_item ul li a, .header_right ul li.current-bcategory-ancestor ul li a {
  background: #e7eefc;
  color: #333333;
}
/* line 70, ../../app/assets/stylesheets/1-default.css.sass */
.header_right ul li.current_page_item ul li a:hover, .header_right ul li.current-bcategory-ancestor ul li a:hover {
  background: #d2def6;
  color: #333333;
}
/* line 74, ../../app/assets/stylesheets/1-default.css.sass */
.header_right ul li.current_page_parent ul li.current_page_item a {
  background: #d2def6;
  color: #333333;
}
/* line 77, ../../app/assets/stylesheets/1-default.css.sass */
.header_right ul li.current_page_parent ul li a {
  background: #e7eefc;
  color: #333333;
}
/* line 80, ../../app/assets/stylesheets/1-default.css.sass */
.header_right ul li.current_page_parent ul li a:hover {
  background: #d2def6;
  color: #4e6b9b;
}
/* line 83, ../../app/assets/stylesheets/1-default.css.sass */
.header_right ul li.current_page_parent ul li.current_page_item ul li a {
  background: #e7eefc;
  color: #333333;
}
/* line 86, ../../app/assets/stylesheets/1-default.css.sass */
.header_right ul li.current_page_parent ul li.current_page_item ul li a:hover {
  background: #d2def6;
  color: #333333;
}
/* line 90, ../../app/assets/stylesheets/1-default.css.sass */
.header_right ul li.current_page_ancestor ul li.current_page_parent a {
  background: #d2def6;
  color: #333333;
}
/* line 93, ../../app/assets/stylesheets/1-default.css.sass */
.header_right ul li.current_page_ancestor ul li.current_page_parent ul li a {
  background: #e7eefc;
  color: #333333;
}
/* line 96, ../../app/assets/stylesheets/1-default.css.sass */
.header_right ul li.current_page_ancestor ul li.current_page_parent ul li a:hover {
  background: #d2def6;
  color: #333333;
}
/* line 101, ../../app/assets/stylesheets/1-default.css.sass */
.header_right ul li ul li.current_page_parent ul li.current_page_item a, .header_right ul li ul li.current_page_ancestor a {
  background: #d2def6;
  color: #333333;
}
/* line 104, ../../app/assets/stylesheets/1-default.css.sass */
.header_right ul li ul li.current_page_parent ul li.current_page_item ul li a, .header_right ul li ul li.current_page_ancestor ul li a {
  background: #e7eefc;
  color: #333333;
}
/* line 107, ../../app/assets/stylesheets/1-default.css.sass */
.header_right ul li ul li.current_page_parent ul li.current_page_item ul li a:hover, .header_right ul li ul li.current_page_ancestor ul li a:hover {
  background: #d2def6;
  color: #333333;
}

/*-----------------------------------------------------------------------------------
 *	4. Navigation & Menus - Main Menu
 *----------------------------------------------------------------------------------- */
/* line 117, ../../app/assets/stylesheets/1-default.css.sass */
.main_nav_in ul li:hover li a, .main_nav_in ul li.iehover li a {
  border: 1px solid #6881a9;
  border-top: none;
}
/* line 120, ../../app/assets/stylesheets/1-default.css.sass */
.main_nav_in ul li a {
  background: url(1-default/seperator.png) no-repeat right 20px;
  color: white;
}
/* line 123, ../../app/assets/stylesheets/1-default.css.sass */
.main_nav_in li:hover li a {
  background: url(1-default/seperator.png) no-repeat right 20px;
  color: white;
}
/* line 128, ../../app/assets/stylesheets/1-default.css.sass */
.main_nav_in ul li.iehover li a, .main_nav_in ul li:hover li:hover li a, .main_nav_in ul li.iehover li.iehover li a, .main_nav_in ul li:hover li:hover li:hover li a, .main_nav_in ul li.iehover li.iehover li.iehover li a, .main_nav_in ul li:hover li:hover li:hover li:hover li a, .main_nav_in ul li.iehover li.iehover li.iehover li.iehover li a {
  background: url(1-default/seperator.png) no-repeat right 20px;
  color: white;
}
/* line 131, ../../app/assets/stylesheets/1-default.css.sass */
.main_nav_in ul li.current_page_parent {
  color: white;
  background: url(1-default/active_bg.png) top left no-repeat;
}
/* line 134, ../../app/assets/stylesheets/1-default.css.sass */
.main_nav_in ul a:hover {
  color: white;
  background: url(1-default/active_bg.png) top right no-repeat;
}
/* line 138, ../../app/assets/stylesheets/1-default.css.sass */
.main_nav_in ul li:hover a, .main_nav_in ul li.iehover a, .main_nav_in ul li:hover a:hover {
  color: white;
  background: url(1-default/active_bg.png) top right no-repeat;
}
/* line 142, ../../app/assets/stylesheets/1-default.css.sass */
.main_nav_in li.current_page_ancestor a {
  background: url(1-default/active_bg.png) top left no-repeat;
  color: white;
}
/* line 145, ../../app/assets/stylesheets/1-default.css.sass */
.main_nav_in li.current_page_ancestor a:hover {
  background: url(1-default/active_bg.png) top left no-repeat;
  color: white;
}
/* line 149, ../../app/assets/stylesheets/1-default.css.sass */
.main_nav_in li.current_page_ancestor ul li.current_page_ancestor a, .main_nav_in li.current_page_ancestor ul li.current_page_ancestor li.current_page_item a {
  background: url(1-default/active_bg.png) top left no-repeat;
  color: white;
}
/* line 152, ../../app/assets/stylesheets/1-default.css.sass */
.main_nav_in li.current_page_ancestor ul li.current_page_ancestor a:hover, .main_nav_in li.current_page_ancestor ul li.current_page_ancestor li.current_page_item a:hover {
  background: url(1-default/active_bg.png) top left no-repeat;
  color: white;
}
/* line 156, ../../app/assets/stylesheets/1-default.css.sass */
.main_nav_in li.current_page_ancestor ul li.current_page_ancestor ul li.current_page_ancestor a {
  background: url(1-default/active_bg.png) top left no-repeat;
  color: white;
}
/* line 159, ../../app/assets/stylesheets/1-default.css.sass */
.main_nav_in li.current_page_ancestor ul li.current_page_ancestor ul li.current_page_ancestor a:hover {
  background: url(1-default/active_bg.png) top left no-repeat;
  color: white;
}
/* line 163, ../../app/assets/stylesheets/1-default.css.sass */
.main_nav_in li.current_page_ancestor ul li.current_page_ancestor ul li.current_page_ancestor ul li.current_page_ancestor a, .main_nav_in li.current_page_ancestor ul li.current_page_ancestor ul li.current_page_ancestor ul li.current_page_ancestor ul li.current_page_ancestor a {
  background: url(1-default/active_bg.png) top left no-repeat;
  color: white;
}
/* line 166, ../../app/assets/stylesheets/1-default.css.sass */
.main_nav_in li.current_page_ancestor ul li.current_page_ancestor ul li.current_page_ancestor ul li.current_page_ancestor a:hover, .main_nav_in li.current_page_ancestor ul li.current_page_ancestor ul li.current_page_ancestor ul li.current_page_ancestor ul li.current_page_ancestor a:hover {
  background: url(1-default/active_bg.png) top left no-repeat;
  color: white;
}
/* line 171, ../../app/assets/stylesheets/1-default.css.sass */
.main_nav_in ul li:hover li a:hover, .main_nav_in ul li:hover li:hover a {
  background: url(1-default/active_bg.png) top left no-repeat;
  color: white;
}
/* line 175, ../../app/assets/stylesheets/1-default.css.sass */
.main_nav_in ul li.iehover li a:hover, .main_nav_in ul li.iehover li.iehover a {
  background: url(1-default/active_bg.png) top left no-repeat;
  color: white;
}
/* line 179, ../../app/assets/stylesheets/1-default.css.sass */
.main_nav_in ul li:hover li:hover li a:hover, .main_nav_in ul li:hover li:hover li:hover a {
  background: url(1-default/active_bg.png) top left no-repeat;
  color: white;
}
/* line 183, ../../app/assets/stylesheets/1-default.css.sass */
.main_nav_in ul li.iehover li.iehover li a:hover, .main_nav_in ul li.iehover li.iehover li.iehover a {
  background: url(1-default/active_bg.png) top left no-repeat;
  color: white;
}
/* line 187, ../../app/assets/stylesheets/1-default.css.sass */
.main_nav_in ul li:hover li:hover li:hover li a:hover, .main_nav_in ul li:hover li:hover li:hover li:hover a {
  background: url(1-default/active_bg.png) top left no-repeat;
  color: white;
}
/* line 191, ../../app/assets/stylesheets/1-default.css.sass */
.main_nav_in ul li.iehover li.iehover li.iehover li a:hover, .main_nav_in ul li.iehover li.iehover li.iehover li.iehover a {
  background: url(1-default/active_bg.png) top left no-repeat;
  color: white;
}
/* line 194, ../../app/assets/stylesheets/1-default.css.sass */
.main_nav_in ul li:hover li:hover li:hover li:hover li:hover a, .main_nav_in ul li.iehover li.iehover li.iehover li.iehover li.iehover a, .main_nav_in ul li:hover li:hover li:hover li:hover li a:hover, .main_nav_in ul li.iehover li.iehover li.iehover li.iehover li a:hover {
  background: url(1-default/active_bg.png) top left no-repeat;
  color: white;
}
/* line 198, ../../app/assets/stylesheets/1-default.css.sass */
.main_nav_in li:hover, .main_nav_in li.iehover, .main_nav_in li.current_page_item, .main_nav_in li.iehover, .main_nav_in li.current_page_ancestor, .main_nav_in li.current-cat {
  background: url(1-default/active_bg.png) top left no-repeat;
  color: white;
}
/* line 201, ../../app/assets/stylesheets/1-default.css.sass */
.main_nav_in li:hover a, .main_nav_in li.iehover a, .main_nav_in li.current_page_item a, .main_nav_in li.current-cat a {
  color: white;
  background: url(1-default/active_bg.png) top right no-repeat;
}
/* line 204, ../../app/assets/stylesheets/1-default.css.sass */
.main_nav_in li.current_page_ancestor a {
  color: white;
  background: url(1-default/active_bg.png) top right no-repeat;
}
/* line 207, ../../app/assets/stylesheets/1-default.css.sass */
.main_nav_in li.current_page_ancestor a:hover {
  color: white;
  background: url(1-default/active_bg.png) top right no-repeat;
}
/* line 210, ../../app/assets/stylesheets/1-default.css.sass */
.main_nav_in li.current_page_parent a {
  color: white;
  background: url(1-default/active_bg.png) top right no-repeat;
}
/* line 213, ../../app/assets/stylesheets/1-default.css.sass */
.main_nav_in li a {
  color: white;
  background: url(1-default/active_bg.png) top right no-repeat;
}
/* line 216, ../../app/assets/stylesheets/1-default.css.sass */
.main_nav_in li a:hover {
  color: white;
  background: url(1-default/active_bg.png) top right no-repeat;
}
/* line 220, ../../app/assets/stylesheets/1-default.css.sass */
.main_nav_in li ul li ul li.current_page_parent a, .main_nav_in li ul li.current_page_ancestor a, .main_nav_in li ul li ul li.current_page_parent a:hover, .main_nav_in li ul li.current_page_ancestor a:hover {
  background-position: -5px 0 !important;
}
/* line 224, ../../app/assets/stylesheets/1-default.css.sass */
.main_nav_in ul li:hover li a:hover, .main_nav_in ul li:hover li:hover a {
  background: #2b3c57;
  color: white;
}
/* line 228, ../../app/assets/stylesheets/1-default.css.sass */
.main_nav_in ul li.iehover li a:hover, .main_nav_in ul li.iehover li.iehover a {
  background: #2b3c57;
  color: white;
}
/* line 232, ../../app/assets/stylesheets/1-default.css.sass */
.main_nav_in ul li:hover li:hover li a:hover, .main_nav_in ul li:hover li:hover li:hover a {
  background: #2b3c57;
  color: white;
}
/* line 236, ../../app/assets/stylesheets/1-default.css.sass */
.main_nav_in ul li.iehover li.iehover li a:hover, .main_nav_in ul li.iehover li.iehover li.iehover a {
  background: #2b3c57;
  color: white;
}
/* line 240, ../../app/assets/stylesheets/1-default.css.sass */
.main_nav_in ul li:hover li:hover li:hover li a:hover, .main_nav_in ul li:hover li:hover li:hover li:hover a {
  background: #2b3c57;
  color: white;
}
/* line 244, ../../app/assets/stylesheets/1-default.css.sass */
.main_nav_in ul li.iehover li.iehover li.iehover li a:hover, .main_nav_in ul li.iehover li.iehover li.iehover li.iehover a {
  background: #2b3c57;
  color: white;
}
/* line 247, ../../app/assets/stylesheets/1-default.css.sass */
.main_nav_in ul li:hover li:hover li:hover li:hover li:hover a, .main_nav_in ul li.iehover li.iehover li.iehover li.iehover li.iehover a, .main_nav_in ul li:hover li:hover li:hover li:hover li a:hover, .main_nav_in ul li.iehover li.iehover li.iehover li.iehover li a:hover {
  background: #2b3c57;
  color: white;
}
/* line 251, ../../app/assets/stylesheets/1-default.css.sass */
.main_nav_in ul li:hover li a {
  background: #425a82;
  color: white;
}
/* line 255, ../../app/assets/stylesheets/1-default.css.sass */
.main_nav_in ul li:hover li:hover li a {
  background: #425a82;
  color: white;
}
/* line 259, ../../app/assets/stylesheets/1-default.css.sass */
.main_nav_in ul li:hover li:hover li:hover li a, .main_nav_in ul li:hover li:hover li:hover li :hover li a {
  background: #425a82;
  color: white;
}

/* Top level */
/* Root Menu Hover Persistence */
/* Remembers the parent page of the current page ------------------------------------- */
/* IE verticle Specific ------------------------------------- */
/* 2nd Menu Hover Persistence */
/* IE verticle Specific ------------------------------------- */
/* 2nd Menu Hover Persistence */
/*-----------------------------------------------------------------------------------
 *	5. Main Content Styles
 *----------------------------------------------------------------------------------- */
/* line 279, ../../app/assets/stylesheets/1-default.css.sass */
.content_top {
  background: url(1-default/content_top.png) no-repeat left top;
}

/* line 282, ../../app/assets/stylesheets/1-default.css.sass */
.content_bg {
  background: url(1-default/content_bg.png) repeat-y left;
}

/* line 285, ../../app/assets/stylesheets/1-default.css.sass */
.content_bottom {
  background: url(1-default/content_bottom.png) no-repeat left bottom;
}

/* line 288, ../../app/assets/stylesheets/1-default.css.sass */
.content_top_full, .content_full .content_top {
  background: url(1-default/content_top_full.png) no-repeat left top;
}

/* line 291, ../../app/assets/stylesheets/1-default.css.sass */
.content_bg_full, .content_full .content_bg {
  background: url(1-default/content_bg_full.png) repeat-y left;
}

/* line 294, ../../app/assets/stylesheets/1-default.css.sass */
.content_bottom_full, .content_full .content_bottom {
  background: url(1-default/content_bottom_full.png) no-repeat left bottom;
}

/* line 297, ../../app/assets/stylesheets/1-default.css.sass */
h1, h2, h3, h4, h5, h6 {
  color: #101010;
}

/* line 300, ../../app/assets/stylesheets/1-default.css.sass */
.post-meta h1 {
  border-bottom: 1px solid #d6dce8;
}

/* line 303, ../../app/assets/stylesheets/1-default.css.sass */
.content .post-meta {
  color: #828282;
}

/* line 306, ../../app/assets/stylesheets/1-default.css.sass */
.post .post-meta a, .entry .post-meta a {
  color: #353535;
}

/* line 309, ../../app/assets/stylesheets/1-default.css.sass */
.post .post-meta a:hover, .entry .post-meta a:hover {
  color: #4b6ea9;
}

/* line 313, ../../app/assets/stylesheets/1-default.css.sass */
.post-content h1, .post-content h2, .post-content h3, .post-content h4, .post-content h5 {
  color: #101010;
}

/* line 316, ../../app/assets/stylesheets/1-default.css.sass */
.detail-title h1 {
  color: #101010;
}

/* line 319, ../../app/assets/stylesheets/1-default.css.sass */
.post-content a {
  color: #4b6ea9;
}
/* line 321, ../../app/assets/stylesheets/1-default.css.sass */
.post-content a:hover {
  color: #222222;
}

/* line 324, ../../app/assets/stylesheets/1-default.css.sass */
.vote_box a:hover {
  color: #222222;
}

/* line 327, ../../app/assets/stylesheets/1-default.css.sass */
.post-content blockquote {
  background: #f7f7f7 url(1-default/quote_left.png) no-repeat 30px 20px;
  border-top: 6px solid #f0f0f0;
}
/* line 330, ../../app/assets/stylesheets/1-default.css.sass */
.post-content blockquote p {
  background: url(1-default/quote_right.png) no-repeat 590px 20px;
}

/* line 333, ../../app/assets/stylesheets/1-default.css.sass */
.share_post {
  border-top: 4px solid #eaeae9;
  border-bottom: 1px solid #eaeae9;
}

/* line 337, ../../app/assets/stylesheets/1-default.css.sass */
.vote_box {
  border-top: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;
  background: #f8f8f8;
}
/* line 341, ../../app/assets/stylesheets/1-default.css.sass */
.vote_box label, .vote_box a {
  color: #334f8a;
}
/* line 344, ../../app/assets/stylesheets/1-default.css.sass */
.vote_box a img {
  background: #f5f5f5;
  border: 1px solid #c7c7c7;
}
/* line 347, ../../app/assets/stylesheets/1-default.css.sass */
.vote_box a:hover img {
  border: 1px solid #777777;
}

/* line 350, ../../app/assets/stylesheets/1-default.css.sass */
.post a.hype_link, .b_like_disable, .post a:hover.hype_link {
  background: #4b6ea9;
  color: white;
  margin-bottom: 3px;
  cursor: pointer;
}

/* line 356, ../../app/assets/stylesheets/1-default.css.sass */
.span_currentvote {
  background: #324a73;
  color: white;
  text-align: center;
  width: 56px;
}

/* line 362, ../../app/assets/stylesheets/1-default.css.sass */
.span_plusvote, .span_minusvote {
  background: black;
  color: white;
}

/* line 366, ../../app/assets/stylesheets/1-default.css.sass */
.welcome_box {
  background: #f5f5f6;
  border: 1px solid #e1e1e1;
}

/*-----------------------------------------------------------------------------------
 *	6. Post Page Navigation 
 *----------------------------------------------------------------------------------- */
/* single page post navigation --------------------------- */
/* line 375, ../../app/assets/stylesheets/1-default.css.sass */
.post-navigation {
  border-top: 1px solid #d6dce8;
  border-bottom: 1px solid #d6dce8;
}
/* line 378, ../../app/assets/stylesheets/1-default.css.sass */
.post-navigation a {
  color: #334f8a;
}
/* line 380, ../../app/assets/stylesheets/1-default.css.sass */
.post-navigation a:hover {
  color: #222222;
}

/* line 384, ../../app/assets/stylesheets/1-default.css.sass */
a.post-prev {
  background: url(1-default/i_previous.png) no-repeat left;
}
/* line 386, ../../app/assets/stylesheets/1-default.css.sass */
a:hover.post-prev {
  background: url(1-default/i_previous_h.png) no-repeat left;
}
/* line 388, ../../app/assets/stylesheets/1-default.css.sass */
a.post-next {
  background: url(1-default/i_next.png) no-repeat right;
}
/* line 390, ../../app/assets/stylesheets/1-default.css.sass */
a:hover.post-next {
  background: url(1-default/i_next_h.png) no-repeat right;
}

/* post pagination --------------------------- */
/* line 396, ../../app/assets/stylesheets/1-default.css.sass */
.Navi .on {
  background: #4b6ea9;
  color: white;
}
/* line 399, ../../app/assets/stylesheets/1-default.css.sass */
.Navi a {
  background: #f1f1f1;
  color: #919191;
}
/* line 402, ../../app/assets/stylesheets/1-default.css.sass */
.Navi a:hover {
  background: #4b6ea9;
  color: white;
}

/*-----------------------------------------------------------------------------------
 *	7. Comments
 *----------------------------------------------------------------------------------- */
/* line 410, ../../app/assets/stylesheets/1-default.css.sass */
.comments h3 {
  color: #334f8a;
}

/* line 413, ../../app/assets/stylesheets/1-default.css.sass */
.comment {
  background: #f4f6fa url(1-default/comment_line.png) repeat-y 99px 0px;
  border: 1px solid #d6dae4 !important;
}

/* line 417, ../../app/assets/stylesheets/1-default.css.sass */
.comment-meta {
  border-bottom: 1px solid #d6dae4;
  color: #818181;
}
/* line 420, ../../app/assets/stylesheets/1-default.css.sass */
.comment-meta a {
  color: #334f8a;
}
/* line 422, ../../app/assets/stylesheets/1-default.css.sass */
.comment-meta a:hover {
  color: #222222;
}

/* line 427, ../../app/assets/stylesheets/1-default.css.sass */
a.comment-reply-link {
  background: #91a7ca url(1-default/reply_arrow.png) no-repeat 47px;
  color: white;
  border-bottom: 1px solid #8394af;
}
/* line 431, ../../app/assets/stylesheets/1-default.css.sass */
a.comment-reply-link:hover {
  background: #7084a2 url(1-default/reply_arrow.png) no-repeat 47px;
  color: white;
  border-bottom: 1px solid #8394af;
}

/* comment form ----------------------- */
/* line 438, ../../app/assets/stylesheets/1-default.css.sass */
#respond h3 {
  border-bottom: 1px solid #e5e5e5;
}

/* line 442, ../../app/assets/stylesheets/1-default.css.sass */
.comments p.commpadd .author {
  background: url(1-default/i_user.png) no-repeat left top;
}
/* line 444, ../../app/assets/stylesheets/1-default.css.sass */
.comments p.commpadd .email2 {
  background: url(1-default/i_email.png) no-repeat left top;
}
/* line 446, ../../app/assets/stylesheets/1-default.css.sass */
.comments p.commpadd .site {
  background: url(1-default/i_web.png) no-repeat left top;
}
/* line 448, ../../app/assets/stylesheets/1-default.css.sass */
.comments p.commpadd .comment2 {
  background: url(1-default/i_comment2.png) no-repeat left top;
}
/* line 450, ../../app/assets/stylesheets/1-default.css.sass */
.comments p.commpadd input {
  background: url(1-default/textfieldbg.png) no-repeat left top;
  border: none;
  color: #a6a6a6;
}

/* line 455, ../../app/assets/stylesheets/1-default.css.sass */
#respond textarea {
  background: url(1-default/textarea.png) no-repeat left top;
  color: #a6a6a6;
}

/* line 459, ../../app/assets/stylesheets/1-default.css.sass */
.comments .comment .text-right p a.comment-reply-link {
  background: url(1-default/buttonbg.png) repeat-x left top;
}

/* line 462, ../../app/assets/stylesheets/1-default.css.sass */
#submit {
  background: url(1-default/submit_btn.png) repeat-x;
  color: white;
  text-shadow: 1px 1px 1px #40577e;
}
/* line 466, ../../app/assets/stylesheets/1-default.css.sass */
#submit:hover {
  background: url(1-default/submit_btn_h.png) repeat-x;
}

/*-----------------------------------------------------------------------------------
 *	 8. Widget
 *----------------------------------------------------------------------------------- */
/* line 473, ../../app/assets/stylesheets/1-default.css.sass */
.widget h3, .widget-small h3 {
  color: white;
  text-shadow: 1px 1px 1px #7b8eac;
  background: url(1-default/title_bg.png) no-repeat;
  border-bottom: none;
}

/* line 479, ../../app/assets/stylesheets/1-default.css.sass */
.main a {
  background: url(1-default/title_bg.png) no-repeat;
  color: white;
  font-size: 14px;
  font-weight: bold;
  padding: 5px;
  margin: 3px;
}

/* line 487, ../../app/assets/stylesheets/1-default.css.sass */
.main a:hover {
  background: #3b5998;
}

/* line 490, ../../app/assets/stylesheets/1-default.css.sass */
.article_btn {
  color: #4c6fa9;
  background: url(1-default/submit_article.png) no-repeat;
  text-shadow: 1px 1px 1px white;
}
/* line 494, ../../app/assets/stylesheets/1-default.css.sass */
.article_btn:hover {
  background: url(1-default/submit_article_h.png) no-repeat;
}

/* line 497, ../../app/assets/stylesheets/1-default.css.sass */
.submit_article small {
  color: #b4c4de;
  text-shadow: 1px 1px 1px #466395;
}

/* login widget ----------- */
/* line 504, ../../app/assets/stylesheets/1-default.css.sass */
.login_widget .form_row .textfield {
  border: 1px solid #c7ccd6;
  border-top: 2px solid #b3b3b3;
  border-left: 2px solid #b3b3b3;
  color: #626262;
}
/* line 509, ../../app/assets/stylesheets/1-default.css.sass */
.login_widget .b_signin {
  color: white;
  text-shadow: 1px 1px 1px #384b6c;
  background: url(1-default/btn_login.png) no-repeat right top;
}
/* line 513, ../../app/assets/stylesheets/1-default.css.sass */
.login_widget .b_signin:hover {
  background: url(1-default/btn_login_h.png) no-repeat right top;
}
/* line 515, ../../app/assets/stylesheets/1-default.css.sass */
.login_widget .b_forgotpass {
  color: white;
  text-shadow: 1px 1px 1px #384b6c;
  background: url(1-default/btn_login.png) repeat-x right top;
}
/* line 519, ../../app/assets/stylesheets/1-default.css.sass */
.login_widget .b_forgotpass:hover {
  background: url(1-default/btn_login_h.png) no-repeat right top;
}

/* line 522, ../../app/assets/stylesheets/1-default.css.sass */
#testimonials blockquote {
  background: #f0f2f6;
}

/* line 525, ../../app/assets/stylesheets/1-default.css.sass */
#contact_widget_frm .b_submit, #contact_frm .b_submit, #advancedsearch .adv_submit {
  color: white;
  text-shadow: 1px 1px 1px #384b6c;
  background: url(1-default/btn_login.png) repeat-x right top;
}

/* line 530, ../../app/assets/stylesheets/1-default.css.sass */
#contact_widget_frm .b_submit:hover, #contact_frm .b_submit:hover, #advancedsearch .adv_submit:hover {
  background: url(1-default/btn_login_h.png) no-repeat right top;
}

/* line 533, ../../app/assets/stylesheets/1-default.css.sass */
.sidebar .latest_posts li, #twitter_update_list li {
  border-bottom: 2px solid white;
}

/* line 536, ../../app/assets/stylesheets/1-default.css.sass */
.sidebar .latest_posts li:last-child, #twitter_update_list li:last-child {
  border-bottom: none;
}

/* line 539, ../../app/assets/stylesheets/1-default.css.sass */
.b_twitter {
  background: url(1-default/i_twitter.png) no-repeat left top;
}

/* line 542, ../../app/assets/stylesheets/1-default.css.sass */
.latest_posts li, .popular li, #twitter li {
  border-bottom: 2px solid white;
}

/* login form color & bg */
/* line 547, ../../app/assets/stylesheets/1-default.css.sass */
.login_form_l {
  border: 3px double #cccccc;
}

/* line 553, ../../app/assets/stylesheets/1-default.css.sass */
.login_form_l .form_row label, .registration_form_box .form_row label {
  color: #4a4a4a;
}

/* line 556, ../../app/assets/stylesheets/1-default.css.sass */
.login_form_l .form_row .textfield, .registration_form_box .form_row .textfield {
  border: 1px double #cccccc;
  background: white;
}

/* line 560, ../../app/assets/stylesheets/1-default.css.sass */
.login_form_l a {
  color: #cc4b3e;
  font-size: 12px;
}
/* line 563, ../../app/assets/stylesheets/1-default.css.sass */
.login_form_l a:hover {
  color: #333333;
}

/* line 566, ../../app/assets/stylesheets/1-default.css.sass */
.upload_img input {
  border: 1px solid #cccccc;
}

/* line 569, ../../app/assets/stylesheets/1-default.css.sass */
.error_msg {
  background: #ffe4e4;
  border-top: 1px solid #ee8686;
  border-bottom: 1px solid #ee8686;
  color: #d70000;
}

/* line 575, ../../app/assets/stylesheets/1-default.css.sass */
.success_msg {
  text-align: center;
  color: #356c1d;
  background: #cee8c3;
  border-top: 1px solid #7ea96b;
  border-bottom: 1px solid #7ea96b;
}

/* line 582, ../../app/assets/stylesheets/1-default.css.sass */
.login_form_l .b_signin_n {
  color: white;
  border: none;
  text-shadow: 1px 1px 1px #384b6c;
  background: url(1-default/btn_login.png) repeat-x right top;
}
/* line 587, ../../app/assets/stylesheets/1-default.css.sass */
.login_form_l .b_signin_n:hover {
  background: url(1-default/btn_login_h.png) no-repeat right top;
}

/* registration color */
/* line 592, ../../app/assets/stylesheets/1-default.css.sass */
#reg_passmail {
  color: #a8a79f;
}

/* line 595, ../../app/assets/stylesheets/1-default.css.sass */
.registration_form_box {
  border: 3px double #cccccc;
}
/* line 597, ../../app/assets/stylesheets/1-default.css.sass */
.registration_form_box .b_registernow {
  color: white;
  border: none;
  text-shadow: 1px 1px 1px #384b6c;
  background: url(1-default/btn_login.png) repeat-x right top;
}
/* line 602, ../../app/assets/stylesheets/1-default.css.sass */
.registration_form_box .b_registernow:hover {
  background: url(1-default/btn_login_h.png) no-repeat right top;
}

/*-----------------------------------------------------------------------------------
 *   9. Bottom Section
 *----------------------------------------------------------------------------------- */
/* line 609, ../../app/assets/stylesheets/1-default.css.sass */
.bottom .widget h3 {
  color: #4b6ea9;
  background: none;
  text-shadow: 1px 1px 1px white;
}

/* line 614, ../../app/assets/stylesheets/1-default.css.sass */
.one_column {
  background: white;
}

/*-----------------------------------------------------------------------------------
 *	 10. Footer
 *----------------------------------------------------------------------------------- */
/* line 621, ../../app/assets/stylesheets/1-default.css.sass */
.footer_in {
  color: #959595;
}
/* line 623, ../../app/assets/stylesheets/1-default.css.sass */
.footer_in a {
  color: #959595;
}

/*-----------------------------------------------------------------------------------
 *	17. Tabber  Style start
 *----------------------------------------------------------------------------------- */
/* line 630, ../../app/assets/stylesheets/1-default.css.sass */
.tabbernav {
  background: url(1-default/tab_bg.png) repeat-x bottom;
}
/* line 633, ../../app/assets/stylesheets/1-default.css.sass */
.tabbernav li a {
  color: #9aacc9;
}
/* line 635, ../../app/assets/stylesheets/1-default.css.sass */
.tabbernav li a:hover {
  color: #3b5998;
}
/* line 637, ../../app/assets/stylesheets/1-default.css.sass */
.tabbernav li.tabberactive {
  background: url(1-default/tab_active.png) repeat-x;
  color: #3b5998;
  border: 1px solid #c9d4ea;
  border-bottom: 0px;
}
/* line 642, ../../app/assets/stylesheets/1-default.css.sass */
.tabbernav li.tabberactive a {
  color: #3b5998;
  background: none;
}
/* line 645, ../../app/assets/stylesheets/1-default.css.sass */
.tabbernav li.tabberactive a:hover {
  color: #3b5998;
}

/* line 648, ../../app/assets/stylesheets/1-default.css.sass */
.post a {
  color: #4b6ea9;
}
/* line 650, ../../app/assets/stylesheets/1-default.css.sass */
.post a:hover {
  color: #324a73;
}

/* line 653, ../../app/assets/stylesheets/1-default.css.sass */
.post-category {
  background: url(1-default/i_folder.png) no-repeat 0px 2px;
}

/* line 656, ../../app/assets/stylesheets/1-default.css.sass */
.single_comments a {
  background: url(1-default/i_comment.png) no-repeat 0px 3px;
}
/* line 658, ../../app/assets/stylesheets/1-default.css.sass */
.single_comments a:hover {
  background: url(1-default/i_comment.png) no-repeat 0px 3px;
}

/* line 661, ../../app/assets/stylesheets/1-default.css.sass */
.single-website a {
  background: url(1-default/i_website.png) no-repeat 0px 3px;
}

/* line 664, ../../app/assets/stylesheets/1-default.css.sass */
.post-tags {
  background: url(1-default/i_tag.png) no-repeat 0px 2px;
}

/* line 667, ../../app/assets/stylesheets/1-default.css.sass */
.at15t_compact {
  background: url(1-default/i_share.png) no-repeat 0px 11px !important;
}

/* line 671, ../../app/assets/stylesheets/1-default.css.sass */
.post-meta .edit a {
  background: url(1-default/i_edit.png) no-repeat 0px 2px;
  color: #009900;
}
/* line 674, ../../app/assets/stylesheets/1-default.css.sass */
.post-meta .delete a {
  background: url(1-default/i_delete.png) no-repeat 0px 2px;
  color: #cc0000;
}

/* line 678, ../../app/assets/stylesheets/1-default.css.sass */
.published {
  background: url(1-default/i_checkmark.png) no-repeat 0px 0px;
}

/* line 681, ../../app/assets/stylesheets/1-default.css.sass */
.blog_listing a.hype_lnk, a.hype_lnk {
  color: white;
}

/*-----------------------------------------------------------------------------------
 *	 18. Add listing Form 
 *----------------------------------------------------------------------------------- */
/* line 688, ../../app/assets/stylesheets/1-default.css.sass */
.button {
  color: white;
  border: none;
  text-shadow: 1px 1px 1px #384b6c;
  background: url(1-default/btn.png) repeat-x right bottom;
}
/* line 693, ../../app/assets/stylesheets/1-default.css.sass */
.button:hover {
  background: url(1-default/btn_h.png) no-repeat right bottom;
}

/* line 696, ../../app/assets/stylesheets/1-default.css.sass */
.b_cancel, .b_publish, .entry .post-content a.b_goback {
  color: white;
  border: none;
  text-shadow: 1px 1px 1px #384b6c;
  background: url(1-default/btn_login.png) repeat-x right bottom;
}
/* line 701, ../../app/assets/stylesheets/1-default.css.sass */
.b_cancel:hover, .b_publish:hover, .entry .post-content a.b_goback:hover {
  background: url(1-default/btn_login_h.png) no-repeat right bottom;
}

/* line 704, ../../app/assets/stylesheets/1-default.css.sass */
.b_cancel:hover {
  background: url(1-default/btn_login_h.png) no-repeat right bottom;
}

/*a.hype_lnk .number{ background:#324a73; }
 *a.hype_lnk .hype{ background:#4b6ea9; color:#fff }
 *a:hover.hype_lnk .hype{ background:#344e7b; color:#fff; }
 *a:hover.hype_lnk:hover  .number{ background:#000; color:#fff; } */
