!!!
%html
  %head
    %title Tweetkey
    //= stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    = csrf_meta_tags

    %link{:href => "/assets/widget69.css", :media => "all", :rel => "stylesheet", :type => "text/css"}
    %link{:href => "/assets/style.css", :media => "all", :rel => "stylesheet", :type => "text/css"}
    %link{:href => "/assets/print.css", :media => "print", :rel => "stylesheet", :type => "text/css"}
    %link{:href => "/assets/1-default.css", :rel => "stylesheet", :type => "text/css"}
  %body.home.blog
    #_atssh{:style => "visibility: hidden; height: 1px; width: 1px; position: absolute; z-index: 100000; "}
    .wrapper
      .header.clear
      / header #end
      .outer
        / Container
        #container.clear
          %script{:language => "javascript", :src => "http://templatic.com/demos/plusone/wp-content/themes/plusone/js/tabber.js", :type => "text/javascript"}
          .content.left
            .content_top
            .content_bg
              = yield
            .content_bottom
          / content end
          .sidebar.right
            .submit_article
              %input.article_btn{:onclick => "window.location.href='tweets/new'", :type => "button", :value => "Добавить"}
            .widget
              %h3{:style=> "padding-left: 50px;"}Категории
              %ul
                %li.cat-item.cat-item-200
                  %a{:href => "http://templatic.com/demos/plusone/lcategory/1/", :title => "View all posts filed under 1"} 1
                  (28)
                %li.cat-item.cat-item-12
                  %a{:href => "http://templatic.com/demos/plusone/lcategory/clothing/", :title => "View all posts filed under Clothing"} Clothing
                  (41)
                %li.cat-item.cat-item-7
                  %a{:href => "http://templatic.com/demos/plusone/lcategory/fashion/", :title => "View all posts filed under Fashion"} Fashion
                  (14)
                %li.cat-item.cat-item-11
                  %a{:href => "http://templatic.com/demos/plusone/lcategory/fashion-style/", :title => "View all posts filed under Fashion Style"} Fashion Style
                  (16)
                %li.cat-item.cat-item-13
                  %a{:href => "http://templatic.com/demos/plusone/lcategory/high-fashion/", :title => "View all posts filed under High fashion"} High fashion
                  (8)
                %li.cat-item.cat-item-8
                  %a{:href => "http://templatic.com/demos/plusone/lcategory/lifestyle/", :title => "View all posts filed under Lifestyle"} Lifestyle
                  (19)
                %li.cat-item.cat-item-9
                  %a{:href => "http://templatic.com/demos/plusone/lcategory/looks/", :title => "View all posts filed under Looks"} Looks
                  (17)
                %li.cat-item.cat-item-14
                  %a{:href => "http://templatic.com/demos/plusone/lcategory/outstanding/", :title => "View all posts filed under Outstanding"} Outstanding
                  (9)
        / /Container #end
      / /outer  #end
      / bottom section start
      .bottom
        .bottom_in
          .three_column.left
          / three_column #end
          .three_column.spacer_3col.left
          / three_column #end
          .three_column.right
          / three_column #end
        / bottom in #end
      / bottom #end
      / bottom section #end
      .footer
        .footer_in
          %p.copyright
            © 2011 All Rights Reserved.
      / footer #end
   
    = link_to "Sign in with Facebook", user_omniauth_authorize_path(:facebook)
